html,body{width: 100%;height: 100%;}
#header{
    width: 100%;
    min-height: 330px;
    background-color: bisque;
}
.header-top{
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top>img{
    display: block;
    height: 100%;
}
.top-linkwarp{
    background-color: #eeeeee;
    height: 30px;
    width: 100%;
}
.top-linkwarp>.top-link-left{
    float: left;
}
.top-linkwarp>.top-link-right{
    float: right;
}
.fLeft{float: left;}
.fRight{float: right;}