$percent:100%;

html,
body {
    width: $percent;
    height: $percent;
    font-size: 12px;
    color: rgb(80, 70, 70);
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.width-margin {
    width: 1210px;
    margin: 0px auto;
}

a {
    cursor: default;
}

a:hover {
    color: rgb(80, 70, 70);
}

#header {
    width: $percent;
    min-height: 330px;
    border-bottom: 2px solid red;
}

.header-top {
    height: 100px;
    width: $percent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top>img {
    display: block;
    height: $percent;
}


/* 头部链接行 */
#header_username{display: none;margin-left: 10px;}
.zhuxiao{display: none;margin-left: 5px;}
.top-linkwarp {
    background-color: #eeeeee;
    height: 30px;
    width: $percent;
}

.top-link {
    width: 1210px;
    height: $percent;
    margin: 0px auto;
    line-height: 30px;
    font-size: 12px;
    font-weight: 300;

    .cur {
        border: 1px solid #3a9900;
        border-bottom: none;
    }
}

.top-linkwarp .top-link-left {
    float: left;
}

.top-linkwarp .top-link-right {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#city {
    font-style: normal;
    height: $percent;
    padding: 0px 10px;
    margin: 0px 10px;
    cursor: pointer;
    position: relative;
    z-index: 99;

    .city-section {
        display: none;
        position: absolute;
        top: 20px;
        left: 0px;
        z-index: 99;
        width: 282px;
        border: 1px solid #3a9900;
        padding: 6px 12px 6px 15px;
        background: #fff;
        color: #757575;

        .city-in {
            background-color: #fff;
            position: absolute;
            left: -1px;
            top: -30px;
            display: block;
            height: 30px;
            width: 50px;
        }

        p {
            height: 34px;
            line-height: 34px;

            a {
                color: #000;
                font-weight: bold;
            }
        }

        .hot-city {
            ul {
                overflow: hidden;

                li {
                    float: left;
                    width: 44px;
                    height: 18px;
                    line-height: 18px;
                    margin: 1px 0;
                    text-align: center;
                }
            }
        }

        .closebtn {
            position: absolute;
            width: 11px;
            height: 11px;
            top: 5px;
            right: 5px;
            background: url(../img/base.png) no-repeat -98px 0;
            cursor: pointer;
        }
    }
}

.top-arrow {
    font-size: 8px;
}

.top-link-right>ul>li {
    float: left;
    padding: 0px 10px;
    text-align: center;
}

.top-link-right>ul>li::after {
    content: "|";
    color: #c4bdbd;
    padding-left: 10px;
}

#login,
#regist {
    margin: 0px 10px;
}


/* 头部搜索块 */
.top-search {
    width: 1210px;
    margin: 0px auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    margin-top: 40px;
}

.search {
    margin: 45px 160px 0px 50px;

    form {
        display: flex;
        justify-content: left;
        margin-top: 5px;

        input {
            height: 40px;
            border: 2px solid rgb(189, 10, 10);
        }

        a {
            display: inline-block;
            width: 40px;
            margin-left: 8px;
            font-size: 14px;
            color: rgb(100, 100, 100);
        }
    }

    div {
        margin-top: 5px;

        a {
            font-size: 8px;
            font-weight: 200px;
            margin-top: 5px;
            margin-right: 10px;
            color: rgb(122, 118, 118);
        }
    }
}

.word {
    font-size: 15px;
    width: 490px;
    padding-left: 30px;
    /* background: url(../img/index.png) no-repeat -69px -24px; */
    background-color: #ffffff;
    color: red;
    position: relative;
}

.word::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 10px;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/index.png) no-repeat -69px -24px;
    background-size: contain;
}

.sub {
    background-color: rgb(189, 10, 10);
    color: #ffffff;
    font-size: 20px;
    width: 100px;
}

.sjwm {
    margin-top: 40px;
}

.nav-head {
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 210px;
    height: 50px;
    background-color: rgb(240, 62, 62);
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}

.tuangou {
    position: absolute;
    left: 230px;
    bottom: 13px;
    font-size: 16px;
    font-weight: 500;
}

.top-gwc {
    width: 200px;
    height: 50px;
    position: absolute;
    right: 0px;
    bottom: -1px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;

    .wrap {
        .cur {
            border: 1px solid #C70019;
            border-bottom: none;
        }

        span {
            display: inline-block;
            position: absolute;
            top: 15px;
            left: 30px;
            width: 27px;
            height: 20px;
            background: url(../img/index.png) no-repeat -47px 0px;

            i {
                display: block;
                width: 25px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-style: normal;
                color: #ffffff;
                font-size: 13px;
                position: absolute;
                top: -17px;
                left: 8px;
                background: url(../img/index.png) no-repeat -10px -40px;
            }
        }

        a {
            margin-left: 30px;
            color: rgb(122, 118, 118);
        }
    }

    .top-gwc-list {
        display: none;
        position: absolute;
        right: 0px;
        top: 50px;
        z-index: 99;
        border: 1px solid #C70019;
        width: 343px;
        padding: 15px 0px 8px 15px;
        background-color: #fff;

        h3 {
            font-size: 14px;
            font-weight: bold;
            height: 15px;
            line-height: 15px;
            font-weight: normal;
        }

        .items {
            width: 333px;
            height: 288px;

            dl {
                width: 100%;
                height: 52px;
                margin: 10px 0;
                overflow: hidden;

                dt {
                    float: left;

                    img {
                        display: block;
                        width: 52px;
                        height: 52px;
                    }
                }

                dd {
                    text-align: left;
                }

                dd:nth-of-type(1) {
                    float: left;
                    width: 120px;
                    height: 52px;
                    margin-left: 10px;
                    line-height: 18px;
                }

                dd:nth-of-type(2) {
                    float: right;
                    margin-right: 20px;

                    .pri {
                        span {
                            color: #D70011;
                        }
                    }

                    .del-btn {
                        margin-top: 10px;
                        text-align: right;
                        cursor: pointer;
                    }
                }
            }

            .account {
                position: absolute;
                left: 0px;
                bottom: 0px;
                height: 42px;
                width: $percent;
                padding-bottom: 10px;

                line-height: 32px;

                .red {
                    color: #D70011;
                }

                .j-btn {
                    float: right;

                    width: 80px;
                    margin-right: 20px;
                    text-align: center;
                    background: #de0800;
                    font-size: 14px;
                    font-family: "微软雅黑";
                    cursor: pointer;

                    a {
                        display: block;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.top-gwc>.wrap>i {
    display: inline-block;
    width: 10px;
    height: 6px;
    margin-left: 25px;
}

.arrow-u {
    background: url(../img/index.png) no-repeat 0px -34px;
}

.arrow-d {
    background: url(../img/index.png) no-repeat 0px -40px;
}


/* banner */
#banner {
    height: 450px;
    display: flex;
    justify-content: space-between;
}

.nav {
    height: $percent;
    width: 210px;

    ul {
        padding-top: 10px;
        height: $percent;
        background-color: #C70019;
        position: relative;

        li {
            height: 39px;
            font-size: 14px;
            line-height: 32px;
            padding-left: 50px;
            position: relative;

            a {
                color: #ffffff;
            }

            i {
                position: absolute;
                left: 20px;
                top: 5px;
            }
        }

        .nav-section {
            display: none;
            width: 780px;
            height: 450px;
            padding: 50px;
            background-color: #fff;
            position: absolute;
            left: 210px;
            top: 0px;
            border: 1px solid #C70019;
            z-index: 99;

            span {
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 10px;
            }

            ul {
                vertical-align: middle;
                margin-left: 10px;
                display: inline-block;
                width: 500px;
                background: #fff;
                height: 50px;
                line-height: 50px;
                padding: 0px;
                border-bottom: 1px solid #eeeeee;

                li {
                    height: 50px;
                    line-height: 50px;
                    float: left;
                    padding: 0px;

                    a {
                        color: #575252;
                        font-size: 13px;
                        font-weight: lighter;
                        padding: 0px 8px;
                        border-left: 1px solid #a8a6a6;
                    }
                }
            }
        }
    }
}

.nav-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/navicon.png) no-repeat 0px 0px;
}

#lunbo {
    flex: 1;
    height: $percent;
}

.banner-right {
    width: 200px;
    height: $percent;
    border: 1px solid #eeeeee;
    overflow: hidden;
}

.banner-right div:first-of-type {
    width: 67px;
    height: 31px;
    border-bottom: 2px solid #2d8800;
    text-align: center;
    line-height: 31px;
    font-size: 12px;
    color: #0D8700;
}

.banner-right>ul {
    list-style: none outside none;
    line-height: 21px;
    padding-top: 10px;
    padding-left: 10px;
}

.dot {
    font-size: 20px;
    vertical-align: bottom;
    margin-right: 9px;
    margin-left: 10px;
}

.servers {
    width: 201px;
    height: 186px;
    margin-top: 15px;
}

.servers_in {
    float: left;
    width: 66px;
    height: 60px;
    border-bottom: 1px dotted #ddd;
    border-right: 1px dotted #ddd;
    margin-top: 1px;
    overflow: hidden;
    text-align: center;
}



/* main */
#main {
    margin-top: 30px;
    min-height: 500px;

    h3 {
        display: inline-block;
        font-size: 20px;
        line-height: 46px;
    }
}

.main-title {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 20px;
    width: 216px;
    height: 18px;
    background: url(../img/tj1.jpg);
}

.tj-spices {
    width: $percent;
    height: 420px;
    display: flex;
    justify-content: left;

    div {
        div {
            div {
                padding: 0px;
            }
        }
    }
}

.inblock {
    display: inline-block;

    img {
        display: block;
    }
}

.tuijian>ul {
    display: flex;
    justify-content: left;
    width: $percent;
    height: 110px;
}

.jinkou {
    margin-top: 14px;
    width: $percent;
    overflow: hidden;

    .jk-l {
        width: 242px;

        h3 {
            padding-left: 15px;
            font-size: 20px;
            position: relative;
            color: #88A9E2;

            i {
                position: absolute;
                top: 11px;
                left: 0;
                display: block;
                width: 5px;
                height: 20px;
                background-color: #88A9E2;
            }
        }

        .jk-l-nav {
            height: 505px;
            width: $percent;
            background-color: #a1c0f6;

            span {
                display: block;
                width: 64px;
                height: 64px;
                background: url(../img/floor_icon.png) no-repeat;
                padding-top: 10px;
                padding-left: 8px;
                font-size: 18px;
                color: #fff;
                font-weight: 700;
            }

            ul {
                width: 200px;
                height: 120px;
                margin: -15px auto 0px;
                border-bottom: 1px solid rgba(146, 142, 142, 0.3);

                li {
                    width: 100px;
                    float: left;
                    font-size: 14px;
                    line-height: 36px;

                    a {
                        &:hover {
                            color: #333;
                        }

                        color: #5e7090;
                    }

                    i {
                        vertical-align: middle;
                        margin-bottom: 3px;
                        margin-right: 5px;
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        background: url(../img/floor_list_icon.png) no-repeat;
                    }
                }
            }
        }
    }

    .jk-list {
        width: 968px;

        ol {
            margin-top: 10px;
            margin-left: 30px;
            overflow: hidden;

            li {
                height: 36px;
                margin-right: 30px;
                text-align: center;
                font-size: 16px;
                line-height: 36px;
                color: #434343;
            }
        }

        ul {
            width: $percent;
            border-top: 1px solid #a1c0f6;

            li {
                width: 242px;
                height: 250px;
                border-bottom: 1px solid #ededed;
                border-right: 1px solid #ededed;
                overflow: hidden;

                img:hover {
                    transform: translateX(10px);
                    
                }

                a {
                    display: block;
                    font-size: 14px;
                    line-height: 24px;
                    color: #606060;
                    img {
                        width: 180px;
                        height: 180px;
                        margin: 0 auto;
                        margin-top: 6px;
                        transition: transform .3s linear;
                    }
                }

                span {
                    font-size: 14px;
                    line-height: 26px;
                    color: #dd0800;

                    span {
                        font-size: 20px;
                    }
                }

                .mleft {
                    margin-left: 20px;
                }
            }
        }

        .jingxuan {
            position: relative;
            .pname{
                white-space: nowrap;
                width: 221px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            li {
                display: inline-block;
            }

            li:first-of-type {
                margin-right: 484px;
            }

            div {
                position: absolute;
                top: 0px;
                left: 242px;
                height: 250px;
                width: 485px;
                overflow: hidden;
                border-bottom: 1px solid #ededed;
                img{
                    display: block;
                }
            }
        }

        .remai {
            li {
                display: inline-block;
            }
        }
    }
}

.t-nav {
    margin-top: 45px;
    min-height: 365px;
    border-top: 2px solid #C70019;
    border-left: 1px solid #ededed;

    .t-nav-in {
        padding-left: 2px;

        &::after {
            content: "";
            clear: both;
            display: block;
        }

    }

    .section {
        float: left;
        width: 241.3px;
        height: 364px;
        border-right: 1px solid #ededed;
        border-bottom: 1px solid #ededed;

        h3 {
            height: 82px;
            font-weight: bold;
            padding: 0 18px;
            font-size: 16px;
            line-height: 82px;
            text-align: center;
            cursor: pointer;
            overflow: hidden;
        }

        div {
            text-align: center;

            a {
                display: inline-block;
                cursor: pointer;
                text-align: center;

                img {
                    display: block;
                    width: 100px;
                    height: 100px;
                    border: 0;
                }
            }
        }

        ul {
            height: 125px;
            margin-top: 25px;
            padding-left: 34px;
            overflow: hidden;

            li {
                float: left;
                width: 95px;
                margin-right: 8px;
                height: 26px;
                line-height: 26px;
                font-weight: 200;

            }
        }
    }
}

.footer {
    margin-top: 45px;
    padding-top: 45px;
    width: $percent;
    min-height: 200px;
    background-color: #f7f7f7;
    border-top: 2px solid #e7e7e7;

    .foot-inside {
        padding-left: 70px;

        &::after {
            content: "";
            display: block;
            clear: both;
        }

        dl {
            width: 144px;
            float: left;
            margin-right: 70px;
            position: relative;

            dt {
                color: #606060;
                height: 26px;
                margin-bottom: 5px;
                line-height: 26px;
                font-size: 16px;

                a {
                    color: #6f6f6f;

                    &:hover {
                        color: #C70019;
                    }
                }
            }

            dd {
                color: #989898;
                height: 24px;
                line-height: 24px;

                a {
                    color: #9c9c9c;

                    &:hover {
                        color: rgb(93, 201, 93);
                    }
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 12px;
                right: 0;
                display: block;
                width: 1px;
                height: 78px;
                background: #e9e9e9;
            }
        }

        div {
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin-right: 15px;

            img {
                display: block;
            }

            h5 {
                font-size: 16px;
                height: 18px;
                color: #c60001;
                text-align: center;
                margin-bottom: 18px;
            }
        }

    }

    .about-wrap {
        width: $percent;
        padding: 25px 0 30px 0;
        margin-top: 45px;
        border-top: 2px solid #3ea600;
        background: #fff;

        .foot-links {
            height: 22px;
            line-height: 22px;
            color: #989898;
            text-align: center;

            a {
                font-size: 14px;
                color: #606060;
            }

            span {
                padding: 18px;
            }

            .tuanmobile {
                padding: 0px;
                color: #c30000;
                font-size: 14px;
            }
        }

        .footer-2016 {
            width: 790px;
            margin: 28px auto 0;

            &::after {
                content: '';
                display: block;
                clear: both;
            }

            .footer-logo {
                float: left;

                img {
                    width: 200px;
                    height: 50px;
                    margin-right: 20px;
                }
            }

            .copyright {
                float: left;
                div {
                    height: 22px;
                    line-height: 22px;
                    color: #989898;

                    a {
                        color: #606060;

                        &:last-child:hover {
                            color: #c60001;
                        }
                    }
                }

                .beian {
                    p {
                        display: inline-block;
                        color: #989898
                    }

                    i {

                        float: left;
                        position: relative;
                        width: 20px;
                        height: 20px;
                        background: url(../img/bottomicon.png) -114px -0px no-repeat;
                    }
                }
            }

            .cheng {
                width: $percent;
                float: left;
                text-align: center;

                a {
                    display: inline-block;

                    i {
                        display: block;
                        width: 112px;
                        height: 41px;
                        background: url(../img/bottomicon.png) -0px -0px no-repeat;
                    }
                }
            }
        }
    }
}

.scroll-search {
    width: $percent;
    background-color: #ffffff;
    height: 80px;
    position: fixed;
    top: -100px;
    left: 0px;
    box-shadow: 0px 10px 15px #b9b8b863;

    .width-margin {
        height: $percent;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            margin: 0px;
        }

        .search {
            float: right;
            margin: 0px;
        }

        .connect {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 80px;

            span {
                font-size: 16px;
                color: #c30000;
                font-weight: bold;
            }
        }
    }
}

.side-gwc {
    height: $percent;
    width: 310px;
    color: #fff;
    position: fixed;
    top: 0px;
    right: -276px;

    .side {
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 34px;
        background-color: #000;

        .car {
            margin-top: 150px;
            width: 34px;
            /* height: 88px; */
            padding: 10px 8px;
            text-align: center;
            overflow: hidden;
            cursor: pointer;

            i {
                display: inline-block;
                width: 18px;
                height: 18px;
                background: url(../img/cart.jpg) no-repeat -178px -8px;
            }

            span {
                width: 14px;
                display: inline-block;
                height: 16px;
                margin: 8px auto 0;
                padding: 0 3px;
                line-height: 16px;
                border-radius: 3px;
                background: #3da700;
                color: #fff;
            }
        }

        .side-bottom {
            position: absolute;
            left: 0;
            bottom: 0;

            li {
                position: relative;
                height: 34px;
                width: 34px;
                margin-top: 6px;
                line-height: 34px;
                cursor: pointer;

                span {
                    height: 34px;
                    position: absolute;
                    right: 34px;
                    height: 34px;
                    width: 58px;
                    padding-left: 12px;
                    line-height: 34px;
                    background: #3da700;
                    display: none;
                }

                i {
                    display: inline-block;
                    background: url(../img/cart.jpg) no-repeat;
                    height: 34px;
                    width: 34px;
                    cursor: pointer;
                }
            }

            .sc {
                i {
                    background-position: 0 0;
                }
                .cur{
                    background-position: 0px -34px;
                }
            }

            .zh {
                i {
                    background-position: -34px 0;
                }
                .cur{
                    background-position: -34px -34px;
                }
            }

            .cz {
                i {
                    background-position: -68px 0;
                }
                .cur{
                    background-position: -68px -34px;
                }
            }

            .app {
                i {
                    background-position: -102px 0;
                }
                .cur{
                    background-position: -102px -34px;
                }
            }

            .go-top {
                i {
                    background-position: -136px 0;
                }
                .cur{
                    background-position: -136px -34px;
                }
            }
        }
    }

    .gwc-list {
        position: absolute;
        left: 34px;
        height: $percent;
        background: #e6e6e6;
        width: 276px;

        .gwc-list-in {
            width: $percent;
            height: $percent;
            position: relative;
            left: 276px;

            .gwc-title {
                display: block;
                height: 40px;
                font: 18px/40px "Microsoft YaHei";
                color: #383838;
                text-align: center;

                i {
                    float: right;
                    margin-top: 14px;
                    margin-right: 18px;
                    width: 12px;
                    height: 12px;
                    background: url(../img/cart.jpg) no-repeat -238px 0;
                    overflow: hidden;
                    cursor: pointer;
                }
            }

            .products {
                overflow: auto;

                a:hover {
                    color: #ff1515;
                }

                dl {
                    margin: 0 0 15px 18px;
                    overflow: hidden;

                    dt {
                        float: left;
                        width: 48px;
                        height: 48px;
                        margin-right: 6px;
                        border: 1px solid #ccc;
                        overflow: hidden;

                        img {
                            width: 48px;
                            height: 48px;
                        }
                    }

                    .pro-name {
                        width: 184px;
                        height: 30px;
                        line-height: 15px;
                        color: #4f4f4f;
                    }

                    .pro-price {
                        width: 184px;
                        color: #4f4f4f;
                        height: 20px;
                        line-height: 20px;
                        overflow: hidden;

                        span:nth-of-type(1) {
                            float: left;
                            color: #ff1515;
                        }

                        span:nth-of-type(2) {
                            float: left;
                            color: #ff1515;
                        }

                        span:nth-of-type(3) {
                            float: right;
                            color: #4f4f4f;
                        }
                    }
                }

                .pro-bottom {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    margin: 0px auto;
                    width: 240px;

                    .chosen {
                        height: 32px;
                        color: #5b5b5b;
                        overflow: hidden;
                        background: #e6e6e6;

                        span {
                            height: 32px;
                            line-height: 32px;
                        }

                        span:nth-of-type(1) {
                            color: #5b5b5b;
                        }

                        span:nth-of-type(2) {
                            color: #dd0800;
                        }
                    }

                    .buy {
                        height: 40px;
                        line-height: 40px;
                        font-size: 16px;
                        text-align: center;
                        color: #fff;
                        background: #dd0800;
                        cursor: pointer;

                        a {
                            color: #fff;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.mk {
    position: fixed;
    width: $percent;
    height: $percent;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0xp;
    background-color: #504d4d69;
    display: none;
}

.cur {
    border-bottom: 2px solid #a1c0f6;
}

.dis-none {
    display: none;
}

.hid {
    overflow: hidden;
}
